.container {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.topleft {
    padding-top: 100px;
    top: 200px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 150px;
    font-family: 'Suez One', sansserif;
    color: white;
}

p {
  margin-top: -40px;
	top: 125px;
  left: 20px;
	font-size: 40px;
	font-family: 'Suez One', serif;
	color: white;
}

img {
	background-image: "url("img[].jpg")";
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: auto;
	width: 100%;
	margin:0;
	padding:0;
	color: black;
	text-align: center;
  position: absolute;
  z-index: -1;
}

body {margin:0;}

.topnav a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    font-family: 'Suez One', serif;
    
}

.topnav a:hover {
    background-color: #005;
}


.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Suez One', serif;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Suez One', serif;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.form2 {
  top: 320px;
  position:relative;
  color: white;
  margin: auto;
  width: 360px;
}

.form2 label{
  font-size: 15px;
  font-family: Arial;
  display:block;
  text-align: center;
  bottom: -20px;
}

#name, #level, #strength, #weakness {
  width: 275px;
  height: 35px;
  border-radius: 4px;
  border: 0px;
  margin: auto;
  position: relative;
}

button{
  background-color: #66b2b2;
  color: white;
  border: 0px;
  border-radius: 4px;
  width: 275px;
  height: 35px;
  top: 5px;
  margin: auto;
  position: relative;
  display: block;
}

#name, #level, #strength, #weakness{
  display: block;
}


